/build/
__pycache__/
*.py[cod]
font/build/runtime_fixture_00c7/00c7c9f9.xpr
font/runtime_test/00c7_phase2a/00c7c9f9.xpr
font/build/runtime_fixture_001c_stock/001cbbd1.xpr
font/runtime_test/001c_stock_phase2b/001cbbd1.xpr
